
#gallery-container{
    max-width: 500px;
    position: relative;
    margin: auto;
}

.gallery-image{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.gallery-image img{
    width: 100%;
    height: auto;
    border: 10px groove #474747;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 98%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.68);
}

img {
    transition:transform 0.25s ease;
}

@media only screen and (max-width: 600px) {

    #gallery-container{
        justify-content: center;
        max-width: 350px;
    }

}

