.image_box{
    justify-content: center;
    align-items: center;
    display: flex;
    margin:20px 0;
    position: relative;
    text-align: center;
    color: #ffffff;
    z-index: 1;

}

.image_box h1{
    font-size: xxx-large
}

.image_box p{
    font-size: large
}


.image_box img{
    max-width: 1200px;
    width: 100%;
    height: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px #000000;
}

#important_message{
    color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}

#featured_buttons{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

#featured_buttons a{
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}

.hours_events_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    margin-top: 50px;
    border-top: #373636 1px solid;
    padding: 20px;
}


h2{
    font-size: large;
    /*color: #373636;*/
    margin: 10px;
    color: #005354;
}

#hours{
    order: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1
}

.sub_header{
    color: #373636;
    font-weight: bold;
    margin: 0 20px 0 0;
    min-width: 100px;
}

.timing{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

#events{
    order: 2;
    min-width: 400px;
    /*max-width: 400px;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 2;
}

.event_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
}

.event_note{
    margin: 0 5px;
    word-wrap: break-word;
}

.cards_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.card{
    max-height: 500px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.card img{
    max-width: 300px;
    width: 100%;
    height: auto;
}

.card a{
    text-decoration: underline;
    color: darkred;
}

.card p{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .image_box h1{
        font-size: x-large;
    }

    #important_message{
        align-items: center;
    }

}