.services_subsection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#services_table{
    min-width: 400px;
    max-height: 536px;
    overflow:auto;
    margin: 20px;
    border: rgba(0, 0, 0, 0.15) 1px solid;
}
.missingService{
    border: rgba(255, 0, 0, 0.98) 2px solid!important;
    background-color: rgba(255, 0, 0, 0.23);

}

#services_table table{
    min-width: inherit;
    border-collapse: collapse;
}

td,th{
    padding: 8px 0 8px 15px;
    text-align: left;
}
tr:first-child{
    border-bottom: #000b31 3px solid;
    background-color: #e1e1e1;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

tr:not(:first-child):hover td{
    background-color: #000b31;
    color: #2df6f6;
    cursor: pointer;
}

.selectedService{
    background-color: #002a02;
    color: #2df6f6;
}

.selectedTR{
    background-color: #00b3f1;
    color: #000b31;
}

td{
    margin: 0;
}

#services_form_div{
    margin: 20px;
}

#services_form{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form input, textarea{
    padding: 5px;
    border: #000b31 1px solid;
    margin: 10px 10px 10px 0;
}

.active-submit{
    background-color: black;
    color: white;
    font-weight: bold;
    border: black 3px solid;
}

.active-submit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.inactive-submit{
    background-color: grey;
    color: white;
}
.errorMessage{
    color: red;
}
.successMessage{
    color: green;
}

span{
    font-size: small;
    color: darkred;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {

    #services_table{
        max-height: 300px;
        overflow:auto;
    }
}

@media only screen and (max-width: 400px) {

    #services_table,#services_form_div, input, textarea {
        width: 360px;
    }
    #services_form{
        width: 360px;
        justify-content: center;
    }


}